/* Stiluri personalizate pentru logo */
.navbar-brand img {
    height: 50px; /* Ajustează înălțimea logo-ului */
    width: auto;
}

/* Stiluri pentru navbar */
.navbar {
    width: 80%; /* Setează lățimea header-ului la 80% */
    margin: 0 auto; /* Centrează header-ul pe orizontală */
    padding: 15px 0; /* Adaugă puțin padding pentru a face header-ul mai aerisit */
}

.navbar .container-fluid {
    max-width: 80%; /* Asigură-te că containerul din navbar se întinde pe întreaga lățime */
}

.navbar {
    background-color:; /* Culoare personalizată pentru navbar */
}

.navbar-light .navbar-nav .nav-link {
    color: white !important; /* Culoare albă pentru textul din navbar */
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ffcc00 !important; /* Culoare galbenă la hover */
}

/* Stiluri pentru butoane */
.navbar-nav .nav-item a {
    margin-left: 20px; /* Distanțiere între butoane */
    font-size: 16px; /* Mărimea textului */
}

/* Stiluri pentru container */
.container-fluid {
    --bs-gutter-x: 0rem;
    margin-top: 0px; /* Distanțiere de sus */
}

/* Stiluri pentru conținutul paginii */
body {
    font-family: 'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f8f9fa; /* Culoare de fundal deschisă */
}

footer {
    background-color: #ff90a3;
    padding: 0px;
    margin: 0px;
}

.page-footer {
  background-color: #222;
  color: #CCC;
  margin-top: 3%;
  padding: 2% 1% 3%;
}

.footer-copyright {
  color: #999;
  padding: 2rem 0;
}