<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rubynlash - Extensii de gene</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Alte fișiere CSS ale aplicației tale -->
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/contulmeu.css' %}" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/disponibilitate.css' %}" rel="stylesheet">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!-- Include jQuery dacă nu ai deja -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    {% block extra_head %}
    {% endblock %}
</head>
<body>

<div class="container-fluid">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg  .bg-info">
        <div class="container-fluid">
            <!-- Logo-ul la stânga -->
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="Rubynlash Logo"><span>Rubyn Lash</span>
            </a>
            <!-- Meniul de navigație cu butoanele -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <!-- Butonul Programări -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">Despre mine</a>
                    </li>
                    <!-- Butonul Contul meu -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cursuri' %}">Cursuri</a>
                    </li>
                    <!-- Butonul Contul meu -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Panou control</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    </div>
<div class="nav-underline-bar">

        </div>
    {% block content %}
    {% if messages %}
    <div class="container mt-3">
        {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endif %}

    {% endblock %}

    <!-- Footer -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis
                        placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis
                        placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
                </div>
                <div class="col-md-4">
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <p>DECIDFR, str. Dorobanților, 71-73, Cluj-Napoca
                        <br/>decidfr@staff.utcluj.ro
                        <br/> (+40) 256 200 217
                </div>
            </div>
            <div class="footer-copyright text-center">© 2023 Copyright: decidfr.utcluj.ro</div>
        </div>
    </footer>
</div>

<!-- Bootstrap JS și dependințele sale -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
{% block extra_scripts %}
{% endblock %}
</body>
</html>