{% extends 'base.html' %}
{% load static %}

{% block title %}
Rubynlash - Home
{% endblock %}

{% block extra_css %}
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="dashboard">
  <div class="container">
    <div class="header">
      <h1>Dashboard - Programări și Statistici</h1>
    </div>

    <div class="statistics">
      <div class="stat">
        <h3>Total ore lucrate săptămâna aceasta</h3>
        <p class="stat-value">{{ total_hours }} ore</p>
      </div>
      <div class="stat">
        <h3>Total venit săptămânal</h3>
        <p class="stat-value">{{ total_income }} RON</p>
      </div>
      <div class="stat">
        <h3>Număr de cliente săptămâna aceasta</h3>
        <p class="stat-value" id="client-count">{{ client_count }}</p>
      </div>
    </div>

    <div class="appointments">
      <h2>Programările din această săptămână</h2>
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Ora</th>
            <th>Data</th>
            <th>Numele Clientei</th>
            <th>Tip Serviciu</th>
            <th>Pret</th>
            <th>Durata</th>
            <th>Număr de Telefon</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          {% for appointment in appointments %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ appointment.appointment_time }}</td>
            <td>{{ appointment.appointment_date }}</td>
            <td>{{ appointment.client_name }}</td>
            <td>{{ appointment.service_type }}</td>
            <td>{{ appointment.price }} RON</td>
            <td>{{ appointment.duration }}</td>
            <td>{{ appointment.phone_number }}</td>
            <td>{{ appointment.email }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

<script>
    window.onload = function () {
        const rows = document.querySelectorAll('table tbody tr');
        rows.forEach((row, index) => {
            row.cells[0].textContent = index + 1; // Setează numărul programării în prima celulă
        });
    };
</script>
{% endblock %}
